MyBucket/SDBValidation.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "23fd35eb-08e5-36e0-b38d-c9b07e610e1c",
            "instanceIdentifier" : "53a88c4e-0197-1000-e3db-0acfb204a68d",
            "name" : "check validation not exists in log table",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "fb6bf3a0-9401-379c-a902-6b75019f0e4e",
          "instanceIdentifier" : "54dc7106-0197-1000-6e90-94e399540975",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "9d02d6d0-7fef-3027-9383-f86a046fb6bb",
            "instanceIdentifier" : "53bb6f42-0197-1000-677e-2b2fcd3df3c8",
            "name" : "get required attributes",
            "type" : "PROCESSOR"
          },
          "zIndex" : 23
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "c2bb9056-72ac-3c0f-aa9f-00c887604fc2",
            "instanceIdentifier" : "500d522d-0197-1000-ee62-b6245dad3300",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "415f3182-9762-3424-83d8-d3ac0e7810a7",
          "instanceIdentifier" : "53a03544-0197-1000-b541-8e78c44a8dc4",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "96a775ed-4b2c-371d-9a24-fd23b19cec5c",
            "instanceIdentifier" : "4fb76287-0197-1000-07c7-3a9c7bf0eb50",
            "name" : "Get All Validations",
            "type" : "PROCESSOR"
          },
          "zIndex" : 1
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "9d02d6d0-7fef-3027-9383-f86a046fb6bb",
            "instanceIdentifier" : "53bb6f42-0197-1000-677e-2b2fcd3df3c8",
            "name" : "get required attributes",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "cf2b3098-8091-3479-a2fe-1cd2aa72baa5",
          "instanceIdentifier" : "53f24f98-0197-1000-9f41-6ea4379051bf",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "c9abc1d0-b4ea-3c01-81b8-13e4cfd16858",
            "instanceIdentifier" : "53ef84e1-0197-1000-90d1-4241646383a5",
            "name" : "from AVRO to JSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 12
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "c2bb9056-72ac-3c0f-aa9f-00c887604fc2",
            "instanceIdentifier" : "500d522d-0197-1000-ee62-b6245dad3300",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "e1389310-8625-3e35-81c4-8a14f98479a6",
          "instanceIdentifier" : "53d85b82-0197-1000-cfde-f20b125a913f",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "9d02d6d0-7fef-3027-9383-f86a046fb6bb",
            "instanceIdentifier" : "53bb6f42-0197-1000-677e-2b2fcd3df3c8",
            "name" : "get required attributes",
            "type" : "PROCESSOR"
          },
          "zIndex" : 10
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -752.0,
            "y" : -368.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "c2bb9056-72ac-3c0f-aa9f-00c887604fc2",
            "instanceIdentifier" : "500d522d-0197-1000-ee62-b6245dad3300",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "a13f1ce9-d17f-3e77-9491-666b801a92f2",
          "instanceIdentifier" : "53ff7361-0197-1000-238b-65c0e858d367",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "23fd35eb-08e5-36e0-b38d-c9b07e610e1c",
            "instanceIdentifier" : "53a88c4e-0197-1000-e3db-0acfb204a68d",
            "name" : "check validation not exists in log table",
            "type" : "PROCESSOR"
          },
          "zIndex" : 15
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "731b55b4-0197-1000-10c7-672b43286995",
            "instanceIdentifier" : "acd97ba8-5424-34cb-9efd-8f8ec36f877c",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "1da5c634-991c-35da-be70-3d9e7fcfc57c",
          "instanceIdentifier" : "731b6a27-0197-1000-47a6-15df28d1fb5f",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "731319f3-0197-1000-ce30-dfd41e96a780",
            "instanceIdentifier" : "3b854a74-403d-3f2a-8339-00e34ec6081f",
            "name" : "calculate insert time",
            "type" : "PROCESSOR"
          },
          "zIndex" : 35
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "dcb211ca-2392-3394-bfbc-0364f1fa01a4",
            "instanceIdentifier" : "54081d11-0197-1000-73d1-8659e5cba7bd",
            "name" : "decide if validation exists",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "245c7237-44e9-3f08-8432-f954bc819f0f",
          "instanceIdentifier" : "54dd8039-0197-1000-b836-d9f5d4212096",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "54dcc74d-0197-1000-2bf6-786c822c0006",
            "instanceIdentifier" : "e00b7a58-5b3d-384c-ca1b-cb5754281777",
            "name" : "read validation result",
            "type" : "PROCESSOR"
          },
          "zIndex" : 27
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "cf50e81f-d177-3646-87ee-8cfa3ed89da1",
            "instanceIdentifier" : "5481ac73-0197-1000-c4e3-b156069e1291",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "eb64c0c5-0253-3a14-9391-0602990c2c93",
          "instanceIdentifier" : "54dd1e33-0197-1000-7cd2-4af5849bd15c",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "54dc97d4-0197-1000-87f8-b237c51cac28",
            "instanceIdentifier" : "660a6ab8-bb13-3678-b50e-0766682d4961",
            "name" : "from avro to json",
            "type" : "PROCESSOR"
          },
          "zIndex" : 26
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "6190c77a-1315-34ef-9b5c-114d5101d6dc",
            "instanceIdentifier" : "5a9383ed-0197-1000-f183-4d0c7069d731",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "3d657575-42ee-3705-a570-31e448c94405",
          "instanceIdentifier" : "5a939056-0197-1000-a2f4-2474fd94eec7",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "29b5937e-6c90-3d7e-a398-a647d10d526d",
            "instanceIdentifier" : "5a92810d-0197-1000-5985-c9cd7b439d26",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "zIndex" : 31
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "c2bb9056-72ac-3c0f-aa9f-00c887604fc2",
            "instanceIdentifier" : "500d522d-0197-1000-ee62-b6245dad3300",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "9be272eb-593e-3d74-a1e5-fabdcf163cb5",
          "instanceIdentifier" : "53b20a12-0197-1000-ccb3-bc36dc9d547e",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "23fd35eb-08e5-36e0-b38d-c9b07e610e1c",
            "instanceIdentifier" : "53a88c4e-0197-1000-e3db-0acfb204a68d",
            "name" : "check validation not exists in log table",
            "type" : "PROCESSOR"
          },
          "zIndex" : 6
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "c2bb9056-72ac-3c0f-aa9f-00c887604fc2",
            "instanceIdentifier" : "500d522d-0197-1000-ee62-b6245dad3300",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "3a3cb509-c831-3302-bc73-42028ad348c3",
          "instanceIdentifier" : "545fa9bb-0197-1000-de3b-a353aa6a70a8",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "dcb211ca-2392-3394-bfbc-0364f1fa01a4",
            "instanceIdentifier" : "54081d11-0197-1000-73d1-8659e5cba7bd",
            "name" : "decide if validation exists",
            "type" : "PROCESSOR"
          },
          "zIndex" : 19
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -736.0,
            "y" : -1056.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "c2bb9056-72ac-3c0f-aa9f-00c887604fc2",
            "instanceIdentifier" : "500d522d-0197-1000-ee62-b6245dad3300",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "57a0b433-60fe-3345-86b4-4bff50042a2c",
          "instanceIdentifier" : "53aebccc-0197-1000-1f31-315b62495c59",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "original" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "9b09f146-e463-3edb-9b0b-f530a8955a36",
            "instanceIdentifier" : "53a7eeb1-0197-1000-635e-09ccab07c5f0",
            "name" : "Split to handle one validation",
            "type" : "PROCESSOR"
          },
          "zIndex" : 5
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "29b5937e-6c90-3d7e-a398-a647d10d526d",
            "instanceIdentifier" : "5a92810d-0197-1000-5985-c9cd7b439d26",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "fd82ec3c-b699-3cb9-b859-0889e8869be4",
          "instanceIdentifier" : "5a934bde-0197-1000-b53e-a1eeb08969c2",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "8fc176f5-ce5c-371a-b255-06251b5aa907",
            "instanceIdentifier" : "5a9176ed-0197-1000-ded6-a22747688e61",
            "name" : "UpdateCounter",
            "type" : "PROCESSOR"
          },
          "zIndex" : 30
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "71f44b1f-8289-30bf-a3ae-567bc317f65d",
            "instanceIdentifier" : "730eb68d-0197-1000-dfef-6ceb6335b10b",
            "name" : "start measure start time",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "6ea89997-cb7d-302f-9d2f-cc6b9ef08b8a",
          "instanceIdentifier" : "5479f682-0197-1000-a43b-a04853768257",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "not_exists " ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "dcb211ca-2392-3394-bfbc-0364f1fa01a4",
            "instanceIdentifier" : "54081d11-0197-1000-73d1-8659e5cba7bd",
            "name" : "decide if validation exists",
            "type" : "PROCESSOR"
          },
          "zIndex" : 20
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "cf50e81f-d177-3646-87ee-8cfa3ed89da1",
            "instanceIdentifier" : "5481ac73-0197-1000-c4e3-b156069e1291",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "211419d6-f740-3462-963a-b4fd6c162f11",
          "instanceIdentifier" : "54e0b9fd-0197-1000-7275-5e1567ae5593",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "54dcc74d-0197-1000-2bf6-786c822c0006",
            "instanceIdentifier" : "e00b7a58-5b3d-384c-ca1b-cb5754281777",
            "name" : "read validation result",
            "type" : "PROCESSOR"
          },
          "zIndex" : 28
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "c2bb9056-72ac-3c0f-aa9f-00c887604fc2",
            "instanceIdentifier" : "500d522d-0197-1000-ee62-b6245dad3300",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "91a86de8-89da-3ec5-87fe-8ae6ce7d542a",
          "instanceIdentifier" : "53ae64e0-0197-1000-965b-6444998d0ac1",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "9b09f146-e463-3edb-9b0b-f530a8955a36",
            "instanceIdentifier" : "53a7eeb1-0197-1000-635e-09ccab07c5f0",
            "name" : "Split to handle one validation",
            "type" : "PROCESSOR"
          },
          "zIndex" : 4
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "54dc97d4-0197-1000-87f8-b237c51cac28",
            "instanceIdentifier" : "660a6ab8-bb13-3678-b50e-0766682d4961",
            "name" : "from avro to json",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "f3dfad91-313a-39c4-8d97-bb52c28e6550",
          "instanceIdentifier" : "54dcb710-0197-1000-14ef-d33ec189ef05",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "23fd35eb-08e5-36e0-b38d-c9b07e610e1c",
            "instanceIdentifier" : "53a88c4e-0197-1000-e3db-0acfb204a68d",
            "name" : "check validation not exists in log table",
            "type" : "PROCESSOR"
          },
          "zIndex" : 24
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "c9abc1d0-b4ea-3c01-81b8-13e4cfd16858",
            "instanceIdentifier" : "53ef84e1-0197-1000-90d1-4241646383a5",
            "name" : "from AVRO to JSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "b0b7eea3-fd69-31f1-b5a3-3c0374e0d2ff",
          "instanceIdentifier" : "53f235c1-0197-1000-d36c-c2d0b455e060",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "9b09f146-e463-3edb-9b0b-f530a8955a36",
            "instanceIdentifier" : "53a7eeb1-0197-1000-635e-09ccab07c5f0",
            "name" : "Split to handle one validation",
            "type" : "PROCESSOR"
          },
          "zIndex" : 11
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "c2bb9056-72ac-3c0f-aa9f-00c887604fc2",
            "instanceIdentifier" : "500d522d-0197-1000-ee62-b6245dad3300",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "17cee6b0-6095-3537-a4d5-5055081d87c7",
          "instanceIdentifier" : "53f28780-0197-1000-49b5-336e236224f6",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "c9abc1d0-b4ea-3c01-81b8-13e4cfd16858",
            "instanceIdentifier" : "53ef84e1-0197-1000-90d1-4241646383a5",
            "name" : "from AVRO to JSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 13
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "731319f3-0197-1000-ce30-dfd41e96a780",
            "instanceIdentifier" : "3b854a74-403d-3f2a-8339-00e34ec6081f",
            "name" : "calculate insert time",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "0208493b-1d79-3227-835b-f96d116ee43e",
          "instanceIdentifier" : "7d052d8c-0197-1000-d59a-5476b9e597b1",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "f2204a3d-0741-3b99-b1b0-61b226de6053",
            "instanceIdentifier" : "5479d94f-0197-1000-1c62-d2d31146b818",
            "name" : "insert validation results",
            "type" : "PROCESSOR"
          },
          "zIndex" : 40
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "73f56304-0197-1000-994e-21bcc15bdbf0",
            "instanceIdentifier" : "c2b0653a-3bdb-3008-eb28-287ee7dfc796",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "818fb100-995a-378b-8d16-918f7c2b73cd",
          "instanceIdentifier" : "7d056631-0197-1000-a2c8-c56adf3a0e54",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "f2204a3d-0741-3b99-b1b0-61b226de6053",
            "instanceIdentifier" : "5479d94f-0197-1000-1c62-d2d31146b818",
            "name" : "insert validation results",
            "type" : "PROCESSOR"
          },
          "zIndex" : 41
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "6190c77a-1315-34ef-9b5c-114d5101d6dc",
            "instanceIdentifier" : "5a9383ed-0197-1000-f183-4d0c7069d731",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "339d3d40-7786-34e6-8c04-d059382294ec",
          "instanceIdentifier" : "731b7d26-0197-1000-4564-9c2d794f83e3",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "731b55b4-0197-1000-10c7-672b43286995",
            "instanceIdentifier" : "acd97ba8-5424-34cb-9efd-8f8ec36f877c",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "zIndex" : 36
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "54dcc74d-0197-1000-2bf6-786c822c0006",
            "instanceIdentifier" : "e00b7a58-5b3d-384c-ca1b-cb5754281777",
            "name" : "read validation result",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "00ea0d7f-9129-31ce-ad0e-0bb467d380e2",
          "instanceIdentifier" : "54dce254-0197-1000-0221-c57820b8b314",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "54dc97d4-0197-1000-87f8-b237c51cac28",
            "instanceIdentifier" : "660a6ab8-bb13-3678-b50e-0766682d4961",
            "name" : "from avro to json",
            "type" : "PROCESSOR"
          },
          "zIndex" : 25
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "8fc176f5-ce5c-371a-b255-06251b5aa907",
            "instanceIdentifier" : "5a9176ed-0197-1000-ded6-a22747688e61",
            "name" : "UpdateCounter",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "716d304a-d618-3d7e-a192-9be2169d2452",
          "instanceIdentifier" : "5a924a96-0197-1000-dd4d-584b795d7c25",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "exists" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "dcb211ca-2392-3394-bfbc-0364f1fa01a4",
            "instanceIdentifier" : "54081d11-0197-1000-73d1-8659e5cba7bd",
            "name" : "decide if validation exists",
            "type" : "PROCESSOR"
          },
          "zIndex" : 29
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "cf50e81f-d177-3646-87ee-8cfa3ed89da1",
            "instanceIdentifier" : "5481ac73-0197-1000-c4e3-b156069e1291",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "f06ba946-0a05-3843-967f-e2751315ac96",
          "instanceIdentifier" : "73f589b9-0197-1000-d852-9b41592e0599",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "73f56304-0197-1000-994e-21bcc15bdbf0",
            "instanceIdentifier" : "c2b0653a-3bdb-3008-eb28-287ee7dfc796",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "zIndex" : 37
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "9b09f146-e463-3edb-9b0b-f530a8955a36",
            "instanceIdentifier" : "53a7eeb1-0197-1000-635e-09ccab07c5f0",
            "name" : "Split to handle one validation",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "3649d09f-7033-3c01-b3d1-d98787b7a510",
          "instanceIdentifier" : "53a80d2d-0197-1000-1cc3-05174c23ba19",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "96a775ed-4b2c-371d-9a24-fd23b19cec5c",
            "instanceIdentifier" : "4fb76287-0197-1000-07c7-3a9c7bf0eb50",
            "name" : "Get All Validations",
            "type" : "PROCESSOR"
          },
          "zIndex" : 2
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 1,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "f2204a3d-0741-3b99-b1b0-61b226de6053",
            "instanceIdentifier" : "5479d94f-0197-1000-1c62-d2d31146b818",
            "name" : "insert validation results",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "224e7bce-12ad-3747-811a-e562f005c45b",
          "instanceIdentifier" : "73109669-0197-1000-1ec8-029f084c0fd7",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
            "id" : "71f44b1f-8289-30bf-a3ae-567bc317f65d",
            "instanceIdentifier" : "730eb68d-0197-1000-dfef-6ceb6335b10b",
            "name" : "start measure start time",
            "type" : "PROCESSOR"
          },
          "zIndex" : 33
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "2.4.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "d2698c8f-e522-3b04-b089-e051f001072a",
          "instanceIdentifier" : "53f1b579-0197-1000-4188-ebc2f63945fb",
          "name" : "AvroReader",
          "properties" : {
            "schema-name" : "${schema.name}",
            "cache-size" : "1000",
            "schema-access-strategy" : "embedded-avro-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-reference-reader" : {
              "displayName" : "Schema Reference Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-reference-reader",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "cache-size" : {
              "displayName" : "Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "cache-size",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.avro.AvroReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "2.4.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "99b7cd34-87f8-3d20-9331-019f66606641",
          "instanceIdentifier" : "53f1d458-0197-1000-e456-62268cdb3164",
          "name" : "JsonRecordSetWriter",
          "properties" : {
            "Allow Scientific Notation" : "false",
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-reference-reader" : {
              "displayName" : "Schema Reference Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-reference-reader",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Allow Scientific Notation" : {
              "displayName" : "Allow Scientific Notation",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Allow Scientific Notation",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Schema Reference Writer" : {
              "displayName" : "Schema Reference Writer",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Schema Reference Writer",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "2.4.0"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "32b3abdf-537f-374a-83f7-e2be18c34103",
          "instanceIdentifier" : "4fb795ad-0197-1000-b20b-ead995f1ad4b",
          "name" : "DBCPConnectionPool",
          "properties" : {
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "Database Driver Class Name" : "org.postgresql.Driver",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "Max Total Connections" : "8",
            "dbcp-max-conn-lifetime" : "-1",
            "Database Connection URL" : "jdbc:postgresql://eososs-wst3-nprd-pg.postgres.database.azure.com:5432/dap",
            "dbcp-time-between-eviction-runs" : "-1",
            "Database User" : "idb_inventory_atrinet",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "database-driver-locations" : "/opt/nifi/nifi-current/db_drivers/postgresql-42.7.5.jar",
            "dbcp-max-idle-conns" : "8"
          },
          "propertyDescriptors" : {
            "dbcp-min-idle-conns" : {
              "displayName" : "Minimum Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-min-idle-conns",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "displayName" : "Database Driver Class Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Driver Class Name",
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "displayName" : "Minimum Evictable Idle Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-min-evictable-idle-time",
              "sensitive" : false
            },
            "Max Total Connections" : {
              "displayName" : "Max Total Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Total Connections",
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "displayName" : "Max Connection Lifetime",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-max-conn-lifetime",
              "sensitive" : false
            },
            "Validation-query" : {
              "displayName" : "Validation query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Validation-query",
              "sensitive" : false
            },
            "Database Connection URL" : {
              "displayName" : "Database Connection URL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Connection URL",
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "displayName" : "Time Between Eviction Runs",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-time-between-eviction-runs",
              "sensitive" : false
            },
            "Database User" : {
              "displayName" : "Database User",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database User",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "displayName" : "Soft Minimum Evictable Idle Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-soft-min-evictable-idle-time",
              "sensitive" : false
            },
            "database-driver-locations" : {
              "displayName" : "Database Driver Location(s)",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "database-driver-locations",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "URL", "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "dbcp-max-idle-conns" : {
              "displayName" : "Max Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-max-idle-conns",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "cf50e81f-d177-3646-87ee-8cfa3ed89da1",
          "instanceIdentifier" : "5481ac73-0197-1000-c4e3-b156069e1291",
          "position" : {
            "x" : -432.0,
            "y" : -88.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "c2bb9056-72ac-3c0f-aa9f-00c887604fc2",
          "instanceIdentifier" : "500d522d-0197-1000-ee62-b6245dad3300",
          "position" : {
            "x" : -432.0,
            "y" : -816.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "6190c77a-1315-34ef-9b5c-114d5101d6dc",
          "instanceIdentifier" : "5a9383ed-0197-1000-f183-4d0c7069d731",
          "position" : {
            "x" : 528.0,
            "y" : -1096.0
          }
        } ],
        "identifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
        "inputPorts" : [ ],
        "instanceIdentifier" : "4fb648fa-0197-1000-cf8a-4c72fa4ebfe0",
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "SDB Validation",
        "outputPorts" : [ ],
        "position" : {
          "x" : -672.0,
          "y" : -600.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-avro-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "9b09f146-e463-3edb-9b0b-f530a8955a36",
          "instanceIdentifier" : "53a7eeb1-0197-1000-635e-09ccab07c5f0",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Split to handle one validation",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1293.5009155273438,
            "y" : -1096.0
          },
          "properties" : {
            "Split Strategy" : "Record",
            "Output Strategy" : "Datafile",
            "Transfer Metadata" : "true",
            "Output Size" : "1"
          },
          "propertyDescriptors" : {
            "Split Strategy" : {
              "displayName" : "Split Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Split Strategy",
              "sensitive" : false
            },
            "Output Strategy" : {
              "displayName" : "Output Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Strategy",
              "sensitive" : false
            },
            "Transfer Metadata" : {
              "displayName" : "Transfer Metadata",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Transfer Metadata",
              "sensitive" : false
            },
            "Output Size" : {
              "displayName" : "Output Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.avro.SplitAvro",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "9d02d6d0-7fef-3027-9383-f86a046fb6bb",
          "instanceIdentifier" : "53bb6f42-0197-1000-677e-2b2fcd3df3c8",
          "maxBackoffPeriod" : "10 mins",
          "name" : "get required attributes",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1303.9170532226562,
            "y" : -640.0
          },
          "properties" : {
            "Enable Unicode Predefined Character Classes" : "false",
            "Permit Whitespace and Comments in Pattern" : "false",
            "Enable Unicode-aware Case Folding" : "false",
            "Enable named group support" : "false",
            "sql_code" : "\"validation_code\"\\s*:\\s*\"(.*?)\"",
            "Enable DOTALL Mode" : "false",
            "Enable Unix Lines Mode" : "false",
            "Maximum Buffer Size" : "1 MB",
            "validation_id" : "\"validation_id\"\\s*:\\s*\"([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})\"",
            "Enable Canonical Equivalence" : "false",
            "Enable Case-insensitive Matching" : "false",
            "Enable Multiline Mode" : "false",
            "r_table" : "\"table\"\\s*:\\s*\"(.*?)\"",
            "Enable repeating capture group" : "false",
            "Maximum Capture Group Length" : "1024",
            "Enable Literal Parsing of the Pattern" : "false",
            "Character Set" : "UTF-8",
            "Include Capture Group 0" : "true"
          },
          "propertyDescriptors" : {
            "Enable Unicode Predefined Character Classes" : {
              "displayName" : "Enable Unicode Predefined Character Classes",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Unicode Predefined Character Classes",
              "sensitive" : false
            },
            "Permit Whitespace and Comments in Pattern" : {
              "displayName" : "Permit Whitespace and Comments in Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Permit Whitespace and Comments in Pattern",
              "sensitive" : false
            },
            "Enable Unicode-aware Case Folding" : {
              "displayName" : "Enable Unicode-aware Case Folding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Unicode-aware Case Folding",
              "sensitive" : false
            },
            "Enable named group support" : {
              "displayName" : "Enable named group support",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable named group support",
              "sensitive" : false
            },
            "sql_code" : {
              "displayName" : "sql_code",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "sql_code",
              "sensitive" : false
            },
            "Enable DOTALL Mode" : {
              "displayName" : "Enable DOTALL Mode",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable DOTALL Mode",
              "sensitive" : false
            },
            "Enable Unix Lines Mode" : {
              "displayName" : "Enable Unix Lines Mode",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Unix Lines Mode",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "validation_id" : {
              "displayName" : "validation_id",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "validation_id",
              "sensitive" : false
            },
            "Enable Canonical Equivalence" : {
              "displayName" : "Enable Canonical Equivalence",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Canonical Equivalence",
              "sensitive" : false
            },
            "Enable Case-insensitive Matching" : {
              "displayName" : "Enable Case-insensitive Matching",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Case-insensitive Matching",
              "sensitive" : false
            },
            "Enable Multiline Mode" : {
              "displayName" : "Enable Multiline Mode",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Multiline Mode",
              "sensitive" : false
            },
            "r_table" : {
              "displayName" : "r_table",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "r_table",
              "sensitive" : false
            },
            "Enable repeating capture group" : {
              "displayName" : "Enable repeating capture group",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable repeating capture group",
              "sensitive" : false
            },
            "Maximum Capture Group Length" : {
              "displayName" : "Maximum Capture Group Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum Capture Group Length",
              "sensitive" : false
            },
            "Enable Literal Parsing of the Pattern" : {
              "displayName" : "Enable Literal Parsing of the Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Literal Parsing of the Pattern",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Include Capture Group 0" : {
              "displayName" : "Include Capture Group 0",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Include Capture Group 0",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExtractText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "INFO",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "731b55b4-0197-1000-10c7-672b43286995",
          "instanceIdentifier" : "acd97ba8-5424-34cb-9efd-8f8ec36f877c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 381.44390869140625,
            "y" : -928.0
          },
          "properties" : {
            "log-message" : "Validation ${validation_id} finished after ${insert_run_duration} milliseconds",
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "731319f3-0197-1000-ce30-dfd41e96a780",
          "instanceIdentifier" : "3b854a74-403d-3f2a-8339-00e34ec6081f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "calculate insert time",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 429.44390869140625,
            "y" : -616.0
          },
          "properties" : {
            "insert_run_duration" : "${now():toNumber():minus(${start_time})}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "insert_run_duration" : {
              "displayName" : "insert_run_duration",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "insert_run_duration",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "71f44b1f-8289-30bf-a3ae-567bc317f65d",
          "instanceIdentifier" : "730eb68d-0197-1000-dfef-6ceb6335b10b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "start measure start time",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 53.44390869140625,
            "y" : -504.0
          },
          "properties" : {
            "start_time" : "${now():toNumber()}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "1"
          },
          "propertyDescriptors" : {
            "start_time" : {
              "displayName" : "start_time",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "start_time",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "8fc176f5-ce5c-371a-b255-06251b5aa907",
          "instanceIdentifier" : "5a9176ed-0197-1000-ded6-a22747688e61",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateCounter",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -80.0,
            "y" : -928.0
          },
          "properties" : {
            "counter-name" : "exists_validations",
            "delta" : "1"
          },
          "propertyDescriptors" : {
            "counter-name" : {
              "displayName" : "Counter Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "counter-name",
              "sensitive" : false
            },
            "delta" : {
              "displayName" : "Delta",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "delta",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateCounter",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "f2204a3d-0741-3b99-b1b0-61b226de6053",
          "instanceIdentifier" : "5479d94f-0197-1000-1c62-d2d31146b818",
          "maxBackoffPeriod" : "10 mins",
          "name" : "insert validation results",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 96.0,
            "y" : -64.0
          },
          "properties" : {
            "Support Fragmented Transactions" : "false",
            "putsql-sql-statement" : "insert into dap.sdb1.etl_validations_log (task_id, chunk_id, record, original_record, \"table\" , validation_id, severity)\nselect\n\tnull as task_id,\t\t\t\n\tnull as chunk_id,\n\tcast(s.ctid as text) as \"record\",\t\t\t\n\tnull as original_record,\t\t\n\t'${r_table}' as \"table\", \t\n\t'${validation_id}' as validation_id,\n\t1 as severity\nfrom ${r_table} s\nwhere ${sql_code}",
            "Batch Size" : "1",
            "Obtain Generated Keys" : "false",
            "JDBC Connection Pool" : "32b3abdf-537f-374a-83f7-e2be18c34103",
            "database-session-autocommit" : "true",
            "rollback-on-failure" : "false"
          },
          "propertyDescriptors" : {
            "Support Fragmented Transactions" : {
              "displayName" : "Support Fragmented Transactions",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Support Fragmented Transactions",
              "sensitive" : false
            },
            "putsql-sql-statement" : {
              "displayName" : "SQL Statement",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "putsql-sql-statement",
              "sensitive" : false
            },
            "Transaction Timeout" : {
              "displayName" : "Transaction Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Transaction Timeout",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Obtain Generated Keys" : {
              "displayName" : "Obtain Generated Keys",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Obtain Generated Keys",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "INFO",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "29b5937e-6c90-3d7e-a398-a647d10d526d",
          "instanceIdentifier" : "5a92810d-0197-1000-5985-c9cd7b439d26",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -216.0,
            "y" : -1248.0
          },
          "properties" : {
            "log-message" : "Validation ${validation_id} already exists in the DB",
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "dcb211ca-2392-3394-bfbc-0364f1fa01a4",
          "instanceIdentifier" : "54081d11-0197-1000-73d1-8659e5cba7bd",
          "maxBackoffPeriod" : "10 mins",
          "name" : "decide if validation exists",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -559.9170532226562,
            "y" : -512.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "exists" : "${exists_flag:equals('1')}",
            "not_exists " : "${exists_flag:equals('0')}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "exists" : {
              "displayName" : "exists",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "exists",
              "sensitive" : false
            },
            "not_exists " : {
              "displayName" : "not_exists ",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "not_exists ",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "96a775ed-4b2c-371d-9a24-fd23b19cec5c",
          "instanceIdentifier" : "4fb76287-0197-1000-07c7-3a9c7bf0eb50",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Get All Validations",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -781.5838623046875,
            "y" : -1320.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "SQL Query" : "SELECT * FROM sdb1.etl_validations where disabled = 1",
            "Database Connection Pooling Service" : "32b3abdf-537f-374a-83f7-e2be18c34103",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "compression-format" : "NONE",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "dbf-normalize" : "false",
            "Content Output Strategy" : "EMPTY"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "SQL Query" : {
              "displayName" : "SQL Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "SQL Query",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "dbf-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-normalize",
              "sensitive" : false
            },
            "Content Output Strategy" : {
              "displayName" : "Content Output Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Content Output Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "10 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "54dcc74d-0197-1000-2bf6-786c822c0006",
          "instanceIdentifier" : "e00b7a58-5b3d-384c-ca1b-cb5754281777",
          "maxBackoffPeriod" : "10 mins",
          "name" : "read validation result",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1311.9170532226562,
            "y" : 16.0
          },
          "properties" : {
            "Enable Unicode Predefined Character Classes" : "false",
            "Permit Whitespace and Comments in Pattern" : "false",
            "Enable Unicode-aware Case Folding" : "false",
            "Enable named group support" : "false",
            "Enable DOTALL Mode" : "false",
            "Enable Unix Lines Mode" : "false",
            "Maximum Buffer Size" : "1 MB",
            "Enable Canonical Equivalence" : "false",
            "Enable Case-insensitive Matching" : "false",
            "Enable Multiline Mode" : "false",
            "exists_flag" : "exists_flag\"\\s*:\\s*(\\d)",
            "Enable repeating capture group" : "false",
            "Maximum Capture Group Length" : "1024",
            "Enable Literal Parsing of the Pattern" : "false",
            "Character Set" : "UTF-8",
            "Include Capture Group 0" : "true"
          },
          "propertyDescriptors" : {
            "Enable Unicode Predefined Character Classes" : {
              "displayName" : "Enable Unicode Predefined Character Classes",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Unicode Predefined Character Classes",
              "sensitive" : false
            },
            "Permit Whitespace and Comments in Pattern" : {
              "displayName" : "Permit Whitespace and Comments in Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Permit Whitespace and Comments in Pattern",
              "sensitive" : false
            },
            "Enable Unicode-aware Case Folding" : {
              "displayName" : "Enable Unicode-aware Case Folding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Unicode-aware Case Folding",
              "sensitive" : false
            },
            "Enable named group support" : {
              "displayName" : "Enable named group support",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable named group support",
              "sensitive" : false
            },
            "Enable DOTALL Mode" : {
              "displayName" : "Enable DOTALL Mode",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable DOTALL Mode",
              "sensitive" : false
            },
            "Enable Unix Lines Mode" : {
              "displayName" : "Enable Unix Lines Mode",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Unix Lines Mode",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Enable Canonical Equivalence" : {
              "displayName" : "Enable Canonical Equivalence",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Canonical Equivalence",
              "sensitive" : false
            },
            "Enable Case-insensitive Matching" : {
              "displayName" : "Enable Case-insensitive Matching",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Case-insensitive Matching",
              "sensitive" : false
            },
            "Enable Multiline Mode" : {
              "displayName" : "Enable Multiline Mode",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Multiline Mode",
              "sensitive" : false
            },
            "exists_flag" : {
              "displayName" : "exists_flag",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "exists_flag",
              "sensitive" : false
            },
            "Enable repeating capture group" : {
              "displayName" : "Enable repeating capture group",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable repeating capture group",
              "sensitive" : false
            },
            "Maximum Capture Group Length" : {
              "displayName" : "Maximum Capture Group Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum Capture Group Length",
              "sensitive" : false
            },
            "Enable Literal Parsing of the Pattern" : {
              "displayName" : "Enable Literal Parsing of the Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Literal Parsing of the Pattern",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Include Capture Group 0" : {
              "displayName" : "Include Capture Group 0",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Include Capture Group 0",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExtractText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "23fd35eb-08e5-36e0-b38d-c9b07e610e1c",
          "instanceIdentifier" : "53a88c4e-0197-1000-e3db-0acfb204a68d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "check validation not exists in log table",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1303.9170532226562,
            "y" : -416.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "SQL Query" : "SELECT \n  CASE \n    WHEN COUNT(*) > 0 THEN 1 \n    ELSE 0 \n  END AS exists_flag\nFROM sdb1.etl_validations_log\nWHERE validation_id = '${validation_id}';",
            "Database Connection Pooling Service" : "32b3abdf-537f-374a-83f7-e2be18c34103",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "compression-format" : "NONE",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "dbf-normalize" : "false",
            "Content Output Strategy" : "EMPTY"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "SQL Query" : {
              "displayName" : "SQL Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "SQL Query",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "dbf-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-normalize",
              "sensitive" : false
            },
            "Content Output Strategy" : {
              "displayName" : "Content Output Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Content Output Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "INFO",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "73f56304-0197-1000-994e-21bcc15bdbf0",
          "instanceIdentifier" : "c2b0653a-3bdb-3008-eb28-287ee7dfc796",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -423.91705322265625,
            "y" : -288.0
          },
          "properties" : {
            "log-message" : "Validation ${validation_id} - error during insert to DB",
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "c9abc1d0-b4ea-3c01-81b8-13e4cfd16858",
          "instanceIdentifier" : "53ef84e1-0197-1000-90d1-4241646383a5",
          "maxBackoffPeriod" : "10 mins",
          "name" : "from AVRO to JSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1301.5009155273438,
            "y" : -848.0
          },
          "properties" : {
            "Include Zero Record FlowFiles" : "true",
            "Record Writer" : "99b7cd34-87f8-3d20-9331-019f66606641",
            "Record Reader" : "d2698c8f-e522-3b04-b089-e051f001072a"
          },
          "propertyDescriptors" : {
            "Include Zero Record FlowFiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Include Zero Record FlowFiles",
              "sensitive" : false
            },
            "Record Writer" : {
              "displayName" : "Record Writer",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Record Reader" : {
              "displayName" : "Record Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Reader",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a902e036-bc54-3543-ab8c-e267a0a9f975",
          "identifier" : "54dc97d4-0197-1000-87f8-b237c51cac28",
          "instanceIdentifier" : "660a6ab8-bb13-3678-b50e-0766682d4961",
          "maxBackoffPeriod" : "10 mins",
          "name" : "from avro to json",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1303.9170532226562,
            "y" : -208.0
          },
          "properties" : {
            "Include Zero Record FlowFiles" : "true",
            "Record Writer" : "99b7cd34-87f8-3d20-9331-019f66606641",
            "Record Reader" : "d2698c8f-e522-3b04-b089-e051f001072a"
          },
          "propertyDescriptors" : {
            "Include Zero Record FlowFiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Include Zero Record FlowFiles",
              "sensitive" : false
            },
            "Record Writer" : {
              "displayName" : "Record Writer",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Record Reader" : {
              "displayName" : "Record Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Reader",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertRecord",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}